@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
    url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold.woff2') format('woff2'),
    url('../fonts/Calibri-Bold.woff') format('woff'),
    url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: local('Calibri'),
    url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


*,::after,::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: Calibri,sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
    min-height: 100vh;
    background: #03428B;
}
.container{
    padding: 0 15px;
}
.main-bg{
    background-image: url("../img/main_bg_1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 102px);
    position: relative;
}
.regular-bg{
    background-image: url("../img/regular_bg.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: calc(100vh - 102px);
}
.header{
    min-height: 90px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.25);
    fill: rgba(79, 150, 193, 0.40);
    backdrop-filter: blur(4.5px);
    z-index: 3;
}
.main-content{
    padding-top: 129px;
    padding-bottom: 20px;
    max-width: 480px;
    margin: 0 auto;
}

.regular-content{
    padding-top: 135px;
    padding-bottom: 40px;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
}

.img-win{
    max-width: 420px;
    width: 100%;
    margin: 0 auto 25px;
    display: block;
}
.items-block{
    display: flex;
    flex-direction: column;
    gap:22px;
}
.item{
    display: flex;
    align-items: center;
    gap: 32px;
    &:last-of-type{
        gap:16px;
    }
}

.item-text{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.icon-button{
    max-width: 70px;
    width: 100%;
    margin: 0 auto 30px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #169DEA;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-button img{
    width: 100%;
    height: 100%;
}

.btn{
    height: 60px;
    padding: 0 28px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    border-radius: 61px;
    background: #169DEA;
    transition: background-color 1s ease;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:not(.btn-small){
        text-transform: uppercase;
    }
    &.btn:hover{
        background: #0051E7;
    }

    &.btn:focus{
        background: #085EFD;
    }
    &.btn:active{
        background: #085EFD;
    }
}

.buttons-wrap{
    display: flex;
    flex-direction: column;
    gap:16px;
    max-width: 340px;
    margin: 0 auto 32px;
}

.star-text{
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 155.556% */
    letter-spacing: 0.09px;
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
}


.link{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
}

.regular-title{
    text-align: center;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    &.small-mode{
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.regular-text{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     margin: 0 0 16px 0;
}

.phone-link{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    display: block;
    text-decoration: none;
    margin-top: 16px;
}


.mb-30{
    margin-bottom: 30px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-74{
    margin-bottom: 74px;
}
.mt-32{
    margin-top: 32px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 60px;
}
.footer{
    background-color: #FFFFFF;
    text-align: center;
}
.footer img{
    display: flex;
    max-width: 480px;
    width: 100%;
    height: 102px;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .regular-title{
        font-size: 35px;
        &.small-mode{
            font-size: 26px;
        }
    }
    .btn{
        font-size: 25px;
        &.btn-small{
            font-size: 20px;
        }
    }
    .link{
        font-size: 25px;
    }
    .regular-text{
        font-size: 23px;
    }

}